{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Mera Rojgar</title>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="{% static 'images/fav.png' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow">
        <meta name="description" content="" />

            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    		<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
			<style>
                body{
                    min-height: 100vh;
                }
                .sticky-footer{
                    position: sticky;
                    top: 100%;
                }
            </style>

</head>
<body>
	<div class="ovrlay"></div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12">
                    <a href="{% url 'home' %}" class="brand"><img src="{% static 'images/logo.png' %}"></a>
                    <a href="javascript:;" class="toggle-menu  float-right mt-3  "><i
                            class="fa fa-bars  x d-inline-block d-md-none"></i></a>
                </div>
                <div class="col-md-9 text-right sidebar-menu">
                    <a href="javascript:;" class="d-block d-md-none closee">X</a>
                    <ul>
                        <li><a href="{% url 'home' %}" class="active">Home</a></li>
                        <li><a href="{% url 'about' %}">About Mera Rojgar</a></li>
                        <li><a href="{% url 'product_catalog' %}">Product Catalog</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        {% if request.session.userID %}
                        <li><a href="{% url 'cart' %}"
                                style="border:0px solid #ff5a10b3;color:#ff5a10b3;padding: 3px 5px;border-radius:10px;"><i
                                    class="fas fa-shopping-cart"></i>&nbsp; {% if cartLength == 0 %} 0
                                {% else %}{{cartLength}}{% endif %}</a></li>
                        <div class="btn-group ml-2">
                            <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-user" style="color:#ff5a10b3;font-size: large;"></i>
                            </span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item mt-2" href="{% url 'customer_info' %}"><i
                                        style="color:#ff5a10b3;" class="fas fa-user-circle"></i>&nbsp;&nbsp;&nbsp; <small><strong>My
                                            Profile</strong></small></a>
                                <a class="dropdown-item mt-2" href="{% url 'wishlist' %}"><i style="color:#ff5a10b3;"
                                        class="fas fa-heart"></i>&nbsp;&nbsp;&nbsp; <small><strong>My Wishlist</strong></small></a>
                                <a class="dropdown-item mt-2" href="{% url 'customer_orders' %}"><i
                                        style="color:#ff5a10b3;" class="fas fa-shopping-bag"></i>&nbsp;&nbsp;&nbsp;
                                    <small><strong>My Orders</strong></small></a>
                                <a class="dropdown-item mt-2" href="{% url 'customer_address' %}"><i
                                        style="color:#ff5a10b3;" class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;
                                    <small><strong>My Address</strong></small></a>
                                <hr>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i style="color:#ff5a10b3;"
                                        class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp; <small><strong>Logout</strong></small></a>
                            </div>
                        </div>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>



    
        </div>
    </header>
	<!-- <div class="page-header-small ">
		 <div class="container">
			<div class="row">
				<div class="col-md-12  ">
					<h2>Product Catalog</h2>
				</div>
			</div>
		</div>
	</div> -->
	<div class="main section products">

		<!-- <div class="container">
			<div class="form-group">
				<input type="text" class="form-control" id="productSearch" placeholder='search product' onkeyup="search_filter_products()" style='width:80%;float:right;'>
			  </div>
		</div> -->
		<div class="container" style="display: flex;">
			<div class="" style="width: 20%;border-right: 0px solid rgb(207, 204, 204);margin: 5px;padding: 5px;" id="filterSection">
				<h5 style="font-weight: 600;margin-left: 5px;"><i class="fas fa-filter" style="color: #ff5a10b3;"></i> Filter Products &nbsp;&nbsp;&nbsp;<small><i onclick="resetFilter()" title='reset filter' class="fas fa-sync-alt" style="cursor: pointer;"></i></small></h5><hr>
				<div class="mt-2" style="margin-left: 5px;">
					<label for="" style="font-weight: 600;"><small><strong>Category Wise</strong></small></label><br>
					{% for i in productCategoryList %}
					<input class="ml-2 categoryClass" type="checkbox" name="" id="" value='{{i.id}}' onclick="search_filter_products()"><small> {{i.productCategoryName}}</small> <br>
					{% endfor %}
				</div><hr>

				<div class="mt-2" style="margin-left: 5px;">
					<label for="" style="font-weight: 600;"><small><strong>Sort By Price</strong></small></label><br>
					<input class="ml-2" type="radio" name="sortByPrice" id="hightToLow" value='hightToLow' onclick="sortByPrice_products(this)" ><small> High To Low</small> <br>
					<input class="ml-2" type="radio" name="sortByPrice" id="lowToHigh" value='lowToHigh' onclick="sortByPrice_products(this)" ><small> Low To High</small> <br>
				</div><hr>

				<div class="mt-2" style="margin-left: 5px;">
					<label for="" style="font-weight: 600;"><small><strong>Filter By Price Range</strong></small></label><br>
					<input type="range" id="priceRange" name="volume" min="0" max="10000" value='1000' onchange="getPriceRange(this)">
					<i class="fas fa-rupee-sign"></i> <small id='maxPrice'>1000</small>
				</div><hr>

				{% comment %} <div class="mt-2 text-center" style="margin-left: 5px;">
					<button class="btn btn-sm btn-primary" style="width: 80%;" onclick="search_filter_products()">Filter</button>
				</div><hr> {% endcomment %}
			</div>
			<div style="width: 80%;border: 0px solid blue;margin: 5px;padding: 5px;margin-left:;display:;">
				<div class="form-group row mb-3">
					<input type="text" class="form-control" id="productSearch" placeholder='search product' onkeyup="search_filter_products()" style='width:100%;float:right;'>
				  </div>
				<div class="row mb-3"  id='productDisplaySection'>
				{% for i in productList %}
					<div class="col-md-4 mb-4 mb-md-5 pt-2" style='box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;'>
						<a href="{% url 'product_detail' i.id %}"><div class="p-cont">
							<img src="http://13.233.247.133:1000/static/{{i.productCoverImages}}" style='border-radius: 10px;'>
						</div>
						<small><p class="  text-center mt-3" style='font-weight:700;'>{{i.productName}}</p></small></a>
						<div class="text-left mb-1">
							<button class="btn btn-sm btn-warning" style="pointer-events: none;"><i class="fas fa-rupee-sign"></i> {{i.productPrice}}.00</button>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="text-center"   id='noMoreProductDiv' style='display:none;'>
					<span><small><strong>- No more products available -</strong></small></span>
				</div>

				<div class="d-flex justify-content-center">
					<div class="spinner-border text-info" role="status"  id='loadmoreProductSpinner' style='display:none;'>
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<footer  class="sticky-footer">
	    <div class="container">
			<div class="row">
				<div class="col-md-6 ">
					<p>© 2021 by 4youths. All right reservered. </p>
				</div>
				<div class="col-md-6 text-center text-md-right ">
					 <p>
						<strong>Follow us on:</strong> <a href="https://www.facebook.com/4youths.org/" style="margin-right:15px;margin-left:15px"><i class="fab fa-facebook-f"></i></a>
						<a href="https://twitter.com/4youthsorg?lang=en" style="margin-right:15px"><i class="fab fa-twitter"></i></a>
						<a href="https://www.linkedin.com/in/yref/?originalSubdomain=in" style="margin-right:10px"><i class="fab fa-linkedin-in"></i></a>
					</p>
				</div>
			</div>
		</div>
	</footer>

<!-- scrips -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="{% static 'js/productSearch_filter.js' %}"></script>

<script>
	function resetFilter(){
		$("input:radio[name=sortByPrice]:checked")[0].checked = false;
		
		$('.categoryClass').removeAttr("checked");
		
		

		$('#priceRange').val('2000');
		$('#maxPrice').text('');
		$('#maxPrice').text('2000');
	}
</script>

<script>
$( document ).ready(function() {
	window.localStorage.setItem('pageNo',1);
});

$(window).scroll(function() {
  if($(window).scrollTop() + $(window).height() >= $(document).height()){
		// $('#loadmoreProductSpinner').css('display','');

	let sleep = ms => {  
	return new Promise(resolve => setTimeout(resolve, ms));  
	};  
	sleep(500).then(() => {  
		// code to be executed  
		$('#loadmoreProductSpinner').css('display','none');
					$('#noMoreProductDiv').css('display','');
	})  

     //Your code here
	// var finalPage = 0;
	// console.log('load more data!');
	// $('#loadmoreProductSpinner').css('display','');
	// pageNo = window.localStorage.getItem('pageNo')
	// pageNo = parseInt(pageNo)+1;
	// window.localStorage.setItem('pageNo',pageNo);

	//  $.ajax({
    //     type: 'GET',
    //     url: "/loadMoreProducts",
    //     data: {'pageNo': pageNo},
    //     success: function (response) {
    //         console.log(response['filteredData']);
	// 		if(response['filteredData']['detail'] == 'Invalid page.'){
	// 			window.localStorage.setItem('pageNo',parseInt(pageNo)-1);
	// 			$('#loadmoreProductSpinner').css('display','none');
	// 			$('#noMoreProductDiv').css('display','');
	// 		}
	// 		return false;

			// return false;


            // if(response['filteredData']['data'].length == 0){
            //     var blank_data = '<div class="text-center">\
            //                         <img src="https://eshoppingnepal.com/photos/nproduct.png" style="margin-left:;">\
            //                     </div>';
            //     $('#productDisplaySection').html('');
            //     $('#filterSection').css('display','');
            //     $('#productDisplaySection').append(blank_data);
            // }else{
            //     $('#filterSection').css('display','');
            //     $('#productDisplaySection').html('');
            //     $('#productDisplaySection').append('<div class="text-center mt-5"><div class="spinner-border text-info" style="width: 5rem; height: 5rem;" role="status">\
            //                                             <span class="sr-only">Loading...</span>\
            //                                         </div></div>');
            //      var dataStr = '';
            //     for(var i=0;i<response['filteredData']['data'].length;i++){
            //         var data = '<div class="col-md-4 mb-4 mb-md-5 pt-2" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">\
            //                     <a href="/product-detail/product-query/'+response['filteredData']['data'][i]['id']+'"><div class="p-cont">\
            //                         <img src="http://13.233.247.133:1000/static/'+response['filteredData']['data'][i]['productCoverImages']+'">\
            //                     </div>\
            //                     <small><p class="  text-center mt-3" style="font-weight:700;">'+response['filteredData']['data'][i]['productName']+'</p></small></a>\
            //                     <div class="text-left mb-1">\
            //                         <button class="btn btn-sm btn-warning" style="pointer-events: none;"><i class="fas fa-rupee-sign"></i>'+response['filteredData']['data'][i]['productPrice']+'.00</button>\
            //                     </div>\
            //                 </div>';
            //         dataStr = dataStr + data;
            //     }
            //     $('#productDisplaySection').html('');
            //     $('#productDisplaySection').append(dataStr);
            // }
        }
    });
//   }
// });
</script>
</body>
</html>