{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="min-height: 100vh;">
        <section>
            <!-- <img src="{% static 'images/logo.png' %}" alt=""> -->
            <p style="text-align: right;"><span style="text-decoration: underline;font-size: 25px;font-weight: 800;color:#fd7e14;">YOUTH RURAL</span> <br><br><small style="font-size: 15px;font-weight: 500;color: rgb(65, 214, 65);"> Entrepreneur Foundation</small></p>

            <div>
                <span style="font-size: 15px;"><strong>Customer Name : </strong>Raman Singh</span>
                <span style="font-size: 15px;text-align: right;"><strong>Customer Contact : </strong>6578947637</span><br>
                <span style="font-size: 15px;"><strong>Customer Address : </strong>Vill+po:Losghani,Ps:piri bazar,Bihar,811112</span>

            </div>
        </section><br><br><hr>
        <section style="margin-top: 10px;">
            <div>
                <table>
                    <thead>
                        <th>S.no</th>
                        <th>S.no</th>
                        <th>S.no</th>
                        <th>S.no</th>
                    </thead>
                </table>
            </div>
        </section>


        <!-- <footer class="sticky-footer" style="position: sticky;top: 100%;">
            <hr>
            <div style="text-align: center;">
                <small>This is footer</small>
            </div>
        </footer> -->
</body>
</html>